[submodule "libs/sdk"]
	path = libs/sdk
	url = https://github.com/maddinat0r/samp-plugin-sdk.git
[submodule "libs/cmake"]
	path = libs/cmake
	url = https://github.com/Zeex/cmake-modules.git
[submodule "libs/date"]
	path = libs/date
	url = https://github.com/HowardHinnant/date.git
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "tools/vcpkg"]
	path = tools/vcpkg
	url = https://github.com/Microsoft/vcpkg
